{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
<div class="container">
    <div class="row">
        <div class="col-md-12 min-vh-100 d-flex flex-column justify-content-center">
            <div class="row">
                <div class="col-lg-6 col-md-8 mx-auto">

                    <!-- form card login -->
                    <div class="card rounded shadow shadow-sm">
                        <div class="card-header">
                            <h3 class="mb-0">Identification</h3>
                        </div>
                        <div class="card-body">
                            {{ include('@FOSUser/Security/login_content.html.twig') }}
                        </div>
                        <!--/card-block-->
                    </div>
                    <!-- /form card login -->

                </div>


            </div>
            <!--/row-->

        </div>
        <!--/col-->
    </div>
    <!--/row-->
</div>
{% endblock fos_user_content %}