{# template/adherent/add.html.twig #}

{% extends "base.html.twig" %}

{% block title %}
  Ajouter un adhérent - {{ parent() }}
{% endblock %}

{% block platform_body %}

  <h2>Ajouter un adhérent</h2>

  {{ include("adherent/form.html.twig") }}

  <p>
    Vous allez ajouter un adhérent
  </p>

{% endblock %}